.quizr-qs {
    position: relative;
    max-width: 960px;
    margin: auto;
}

.quizr-qs-intro {
    filter: drop-shadow( 0 10px 10px rgba(0,0,0,0.5));
}

.quizr-qs-intro__start-quiz{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgb(125, 150, 196);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
}

.quizr-qs-card{
    box-sizing: border-box;
    min-height: 200px;
    margin: 10px auto;
    position: relative;
    left: 50%;
    transform: translateX( -40% );
    clip-path: polygon(0 0, 80% 0, 80% 100%, 0 100%);
}

.quizr-qs-card:hover {
    cursor: pointer;
}

.quizr-qs-card:hover .quizr-qs-card__container {
    transform: translateX( -20% );
    transition: transform 0.5s ease-in-out 0.1s;
}

.quizr-qs-card__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out 0.1s;
}

.quizr-qs-card__sidebar {
    width: 20%;
    background-color: #9DC96B;
}

.quizr-qs-card__img {
    height: 100px;
    top: 10px;
    left: 10px;
    margin: 0;
}

.quizr-qs-card__content {
    background-color: white;
    width: 60%;
    padding: 1rem;
}

.quizr-qs-card__answers {
    width: 20%;
    background-color: cadetblue;
    padding: 1rem;
}